{% extends 'main.html' %}

{% block content %}
<div class="house-container">
    <h4>Houses</h4>

    <div class="property-container">
        {% for house in houses %}
        <div>
            <p>{{house.area}}</p>
            <img src="{{house.image.url}}" width="100" height="100">
            <small>Rent: {{house.price}} / year</small><br>
            <small>Bedrooms: {{house.nos_of_bedrooms}}</small><br>
            <small>Rent: {{house.nos_of_bathrooms}}</small><br>
            <a href="{% url 'house' house.id %}">Click here to view</a>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

